name: Release
on:
  workflow_dispatch:
    inputs:
      bump:
        type: choice
        description: How to bump the version
        required: true
        options:
          - major
          - minor
          - patch

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
            # NOTE @v2 uses the token as an auth http header. Set it to
            # a Personal Access Token instead of secrets.GITHUB_TOKEN
            # so that tag pushes trigger repo push events.
            # See https://github.community/t/action-does-not-trigger-another-on-push-tag-action/17148/8
            token: ${{ secrets.DEPLOY_TOKEN }}
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.1.4
      - name: Configure git
        run: |
          git config --global user.name 'Release bot'
          git config --global user.email 'action@github.com'
          git push
      - name: bump release version and tag
        run: |
          poetry version ${{ github.event.inputs.bump }}
          export NEW_VERSION=v$(poetry version -s)
          git commit -am "Bumping to version $NEW_VERSION"
          git tag -a $NEW_VERSION -m $NEW_VERSION
      - name: prepatch to the next version
        run: |
          poetry version prepatch
          export NEW_VERSION=v$(poetry version -s)
          git commit -am "Prepatching to $NEW_VERSION"
      - name: Push results
        # See https://www.wearecogworks.com/blog/quick-guide-to-running-sub-workflows-with-github-actions/
        run: |
          git push "https://$GITHUB_ACTOR:${{ secrets.DEPLOY_TOKEN }}@github.com/$GITHUB_REPOSITORY.git"
          git push "https://$GITHUB_ACTOR:${{ secrets.DEPLOY_TOKEN }}@github.com/$GITHUB_REPOSITORY.git" --tags
